name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  ci-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with: { python-version: '3.11' }
      - run: pip install -r requirements.txt
      - run: pytest --nbmake --ignore=Heddema_MomCare_Tanzania/notebook.ipynb